<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>千界</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="wb:webmaster" content="b028443a90afb1bb" />
    <link rel='stylesheet' href='/css/style.css'/>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"></head>
<body>
    <nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">千界</a>
            </div>
        
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a ng-href="/"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
                    <li><a ng-href="/blog"><span class="glyphicon glyphicon-list"></span> 文章</a></li>    
                    <li><a ng-href="/apps"><span class="glyphicon glyphicon-th-large"></span> 应用</a></li>
                    <li><a ng-href="/about"><span class="glyphicon glyphicon-user"></span> 关于</a></li>
                </ul>
                <!---
                <ul class="nav navbar-nav pull-right" >
                    <li ng-hide="user.username"><a ng-href="/login">Login/Register</a> </li>
                    <li class="dropdown" ng-show="user.username">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hello, {{user.username}} <b
                                class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a ng-click="logout()">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
                --->
                <div class="nav navbar-nav pull-right">
                    <wb:login-button type="3,2" ></wb:login-button>
                </div>
            </div>
        </div>
    </nav>

<div class="container" ng-view>

  <p> loading... </p>
</div>

</body>
<script src=" http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=4205499718" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="//dn-staticfile.qbox.me/jquery/2.0.3/jquery.min.js"></script> 
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//dn-staticfile.qbox.me/angular.js/1.0.7/angular.min.js"></script>
<script type="text/javascript" src="//dn-staticfile.qbox.me/angular.js/1.0.7/angular-resource.min.js"></script> 
<script src="/js/app.js"></script>
<script src="/js/services.js"></script>
<script src="/js/controllers.js"></script>
<script src="/js/filters.js"></script>
<script src="/js/directives.js"></script>
</html>